@font-face {
    font-family: "Bodoni Moda";
    font-weight: 400;
    font-style: normal;
    src: url(fonts/BodoniModa-Italic-VariableFont_opsz,wght.tff) format('tff'), 
    url(fonts/BodoniModa-VariableFont_opsz,wght.tff) format('tff');} 